@import "/src/assets/scss/variables/variables";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/fontawesome.min.css");
.me-05 {
    margin-right: 0.5rem !important;
}
.me-15 {
  margin-right: 1.5rem !important;
}
* {
  font-family: "IBM Plex Sans Thai", sans-serif !important;
}
.color-primary {
  color: $primary;
}
.text-center > * {
  text-align: center;
}
.navbar-vertical {
  min-height: 100vh !important;
  height: 100% !important;
  position: fixed !important;
}
@media (max-width: 991px) {
  .doc-modal {
    max-width: 90% !important;
  }
}
.fallback-spinner {
  height: 100vh;
  display: flex !important;
  align-items: center;
  justify-content: center;

  &.app-loader {
    height: 100vh;
    flex-direction: column;
    .loading {
      margin-top: 1rem;
    }
  }
  &.content-loader {
    top: 50%;
    left: 50%;
    width: 100%;
    margin-top: -2rem;
    height: calc(100vh - 10rem);
  }

  .loading {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    .effect-1,
    .effect-2,
    .effect-3 {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-left: 3px solid rgba(121, 97, 249, 1);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .effect-1 {
      position: absolute;
      animation: rotate 1s ease infinite;
    }
    .effect-2 {
      position: absolute;
      animation: rotateOpacity 1s ease infinite 0.1s;
    }
    .effect-3 {
      -webkit-animation: rotateOpacity 1s ease infinite 0.2s;
      animation: rotateOpacity 1s ease infinite 0.2s;
    }

    .loading .effects {
      transition: all 0.3s ease;
    }
  }
}
// .fallback-logo {
//   position: absolute;
//   left: calc(50% - 45px);
//   top: 40%;
// }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes rotateOpacity {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
    opacity: 1;
  }
}
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.form-check-input[type=checkbox].some {
  background-color: #00960c;
  border-color: #00960c;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.input-group {
  height: 47px;
}
.square {
  height: 12px;
  width: 20px;
}
.logo-text {
  font-size: 1.636rem;
  color: rgba(82, 91, 117,0.8);
  font-weight: 600;
  letter-spacing: -0.04em;
  margin-bottom: 0;
}
.border-danger {
  border-width: 2px !important;
}